* {
  font-family: Helvetica, sans-serif;
}

.task {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 10px 100px 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  position: relative;
  user-select: none;
  word-wrap: break-word;
}

.task:hover {
  background-color: silver;
}

.task__remove-button {
  text-decoration: none !important;
  color: red;
  position: absolute;
  right: 10px;
  top: 5px;
  border: 1px solid red;
  padding: 5px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__remove-button:hover {
  color: white;
  background-color: red;
}

.task--done {
  text-decoration: line-through;
}

.tasks-box {
  position: relative;
}

.main-box {
  position: relative;
}

.form-box {
  position: relative;
  border: 1px solid black;
}

.add-form {
}

.add-form__text-input {
  margin: 10px 0px 10px 10px;
}

.add-form__submit-button {
}

.filter-form {
}

.filter-form__text-input {
  margin: 10px 0px 10px 10px;
}

.filter-form__submit-button {
}

.remove-filter {
  text-decoration: underline;
  font-size: 12px;
  color: blue;
  cursor: pointer;
}

.show {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 0px 3px;
  cursor: pointer;
  display: inline-block;
}

.show--active {
  background-color: silver;
  color: white;
}
